
<!DOCTYPE HTML>
<html>
<head>
<title>Bakery Shop</title>
	 {% load static %}
<!-- Custom Theme files -->
<link href="{% static 'identify/css/style.css'%}" rel="stylesheet" type="text/css" media="all"/>
<link rel="stylesheet" type="text/css" href="{% static 'identify/css/bootstrap.min.css'%}">
<!-- Custom Theme files -->
<script type="text/javascript" src="{% static 'identify/js/jquery.min.js' %}" ></script>
<script type="text/javascript" src="{% static 'identify/js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'identify/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'identify/js/RecordRTC.js' %}"></script>
<!-- Custom Theme files -->
<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script> -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<!--Google Fonts-->
<link href="{% static 'identify/http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' %}" rel='stylesheet' type='text/css'>
<!--Google Fonts-->
<script>var __links = document.querySelectorAll('a');function __linkClick(e) { parent.window.postMessage(this.href, '*');} ;for (var i = 0, l = __links.length; i < l; i++) {if ( __links[i].getAttribute('data-t') == '_blank' ) { __links[i].addEventListener('click', __linkClick, false);}}</script>
<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> -->
<script>$(document).ready(function(c) {
	$('.sinup-close').on('click', function(c){
		$('.setting').fadeOut('slow', function(c){
	  		$('.setting').remove();
		});
	});	  
});
</script>
<!---Google Analytics Designmaz.net-->
<!-- <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-35751449-15', 'auto');ga('send', 'pageview');</script> -->

</head>
<body>
<!--login start here-->
<h1>Welcom to Bakery Shop</h1>
<div class="login">
	<h2>Login</h2>
	<form>
		<input id="Userlogin" type="text" class="user active" value="User name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'User name';}"/>
		<!-- <input type="file" class ="imageUpload" accept="image/*;capture=camera" /> -->
		<div id="screenshot">
			<video id="video" width="380" height="320" autoplay></video>
			<!-- <button id="snap">Snap Photo</button> -->
			<canvas id="canvas" width="380" height="320"></canvas>
			
		</div>
	</form>
	<div class="login-bwn">
		<button id="captureVideo" class="btn btn-info" >Capture Video</button>
		<button id="takePicture" class="btn btn-info" disabled="true">Take Picture</button>
		<!-- <button></button> -->
	</div>
	<div class="login-bwn">
	   <input id="login_button" type="submit" value="Log in"  />
	   <!-- <input type="submit" value=""> -->
	   <!-- <button type="button">Capture Video</button> -->
	</div>
	<div class="login-bottom">
		<h4>Don,t have an Account? <a href="{%url 'register'%}"> Register Now!</a></h4>

		<!-- <div class="reg-bwn"><a href="register.html">REGISTER</a></div> -->
	</div>
  </div>
</div>
<div style="text-align:center; margin-top:10px;">
				<ins class="adsbygoogle"
style="display:block"
data-ad-client="ca-pub-8011246932591811"
data-ad-slot="9844648019"
data-ad-format="auto"></ins> 
<!-- <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->
				</div>
<script type="text/javascript" src="{% static 'identify/js/login.js' %}">
	// {% static 'identify/js/jquery.min.js' %}

</script>
</html>